.contact-form {
  margin: auto;
  // margin: 3rem auto 0;
  max-width: 50%;
  max-width: 350px;
  background: #ede9e2;
  padding: 20px 28px;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.637);
  border-radius: 2px;
}

.form-content {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  background: none;
  font-size: 1.1rem;
  border-bottom: 1px solid $gold;
}
input::placeholder,
textarea::placeholder {
  color: rgb(190, 188, 188);
}
input,
.email-content,
textarea {
  width: 90%;
  margin: 0 auto;
}
input {
  padding: 24px 0 12px;
}
.email-content {
  position: relative;
}
.email-content input {
  width: 100%;
}

#not-mail {
  display: none;
  position: absolute;
  top: 4px;
  color: $red;
  right: 0;
  transform-origin: 50% 50%;
}

textarea {
  resize: none;
  padding: 24px 0;
}
.button {
  font-size: 1.3rem;
  margin-top: 15px;
  color: $gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;

  &:hover {
    letter-spacing: 2px;
  }
}
.error::placeholder {
  color: $red;
}
.form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}
