.header {
  // background-color: $test2;
  height: 100vh;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  padding: 10px;
  top: 0px;
  /* bottom: auto; */
  display: flex;
  align-items: center;
  a.navActive svg {
    color: white !important;
    background-color: $test1;
    padding: 0.3rem;
    border-radius: 50%;
    font-size: 2rem;
    &:hover {
      color: $gold !important;
    }
  }
}
@media screen and (max-width: 580px) {
  .header {
    padding: 0;
    top: 0;
    align-self: center;
    // transform: translateX(-50%);
    height: 50px;
    .navigation {
      width: max-content;
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
    }
  }
}
