header {
  height: 100vh;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  padding: 10px;
  top: 0px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 580px) {
  header {
    padding: 0;
    top: 0rem;
    height: 6rem;
    background-color: $tertiary-color;
    z-index: 2;
  }
}
