.header {
  // background-color: $test2;
  height: 100vh;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  padding: 10px;
  top: 0px;
  /* bottom: auto; */
  display: flex;
  align-items: center;
  a.navActive {
    color: white !important;
    &:hover {
      color: $gold !important;
    }
  }
}
@media screen and (max-width: 580px) {
  .header {
    padding: 0;
    top: 0;
    left: 0;
    height: 50px;
    ul {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
