.navigation {
  display: flex;
  flex-direction: column;
  width: 50px;
  padding: 2rem 0rem;

  svg {
    font-size: 3rem;
    transition: 0.5s;
  }
  span {
    opacity: 0;
    font-size: 0.7rem;
    font-weight: 400;
  }
  a {
    padding: 10px 0px;
    flex-basis: 23%;
    text-align: center;
    &:hover {
      color: initial;
    }
  }
  a.navActive {
    color: $primary-color;
  }
  a.navActive span,
  a:hover span {
    opacity: 1;
  }
  a.navActive svg,
  .navigation a:hover svg {
    font-size: 3rem;
    transform: rotate(90deg);
    transition: 0.5s;
  }
}

/* -------------------------- Medium - small --------------------- */
@media screen and (max-width: 580px) {
  .navigation {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto;

    a {
      position: relative;
      color: $secondary-color;
    }
  }
  a.navActive span {
    position: absolute;
    bottom: 0px;
  }
}
