.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  padding: 0px 20pxs;
  width: 80%;
  margin: auto;
}
