.projects {
  display: flex;
  //   grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  padding: 0px 20pxs;
  width: 80%;
  margin: auto;
}

// /* -------------- Medium ------------------ */
// @media screen and (max-width: 943px) {
//   .projects {
//     grid-template-columns: 1fr, 1fr;
//     gap: 1.5rem;
//   }
// }

// /* -------------- Small ------------------ */
// @media screen and (max-width: 580px) {
//   .projects {
//     grid-template-columns: 1fr;
//   }
// }
