.project {
  @extend %boxShadow;
  max-width: 20rem;
  padding: 0.3rem;

  h2 {
    margin: 1.2rem 0 2rem;
    color: $secondary-color;
  }
  .projectImage {
    width: 90%;
    margin: 1rem auto;
    img {
      width: 100%;
      border-radius: $rounded;
    }
  }
  .projectUrl {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0rem;
  }
}
