.socials {
  position: absolute;
  bottom: 10px;
  right: 20px;
  .socialsIcon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    &::after {
      content: "";
      width: 9rem;
      height: 1px;
      background-color: $test1;
    }
    svg {
      font-size: 1.5rem;

      &:hover {
        transition: 0.5s;
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .socials {
    right: 10px;
    .socialsIcon::after {
      content: "";
      width: 2rem;
    }
  }
}
