.socials {
  position: absolute;
  bottom: 10px;
  right: 20px;
  .socialsIcon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    &::after {
      content: "";
      width: 9rem;
      height: 1px;
      background-color: $tertiary-color;
    }
    a {
      font-size: 1.5rem;
      padding: 10px 2px;

      &:hover {
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .socials {
    bottom: 30px;
    right: 20px;
    .socialsIcon {
      line-height: 1rem;
      // &::after {
      //   content: "";
      //   width: 2rem;
      // }
      svg {
        font-size: 1rem;
      }
    }
  }
}
