section.information {
  margin: 30px 5px;
  text-align: center;

  i {
    font-size: larger;
    margin-right: 10px;
    color: $grey;
  }
  & div {
    padding: 10px;
    &:hover a {
      color: $grey;
      transition: 0.5s;
    }
  }
}
