.knowledges {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  margin: auto;

  .knowledge {
    @extend %boxShadow;
    padding: 2.5rem 5rem;
    margin: 10px auto;

    h3 {
      margin-bottom: 2.2rem;
      text-align: center;
      color: $secondary-color;
    }
  }
}
.knowledgeContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;

  .knowledgeDetails {
    display: flex;
    gap: 0.8rem;
  }
  svg {
    color: $secondary-color;
    margin-top: 5px;
  }
}
/* -------------- Medium ------------------ */
@media screen and (max-width: 943px) {
  .knowledge {
    width: 70%;
    padding: 2.5rem !important;
  }
}

/* -------------- Small ------------------ */
@media screen and (max-width: 580px) {
  .knowledge {
    width: 95%;
    padding: 2.5rem !important;
  }
}
