@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

$font-1: "Merriweather", serif;
$primary-color: #ede9e2;
$secondary-color: #ae8f63;
$tertiary: #1f101a;
$rounded: 0.2rem;
$test: #c6b9a3;

$red: #8b233f;
$gray: #848889;
$grey: #dfe0e2;
$test1: #201817;
$test2: #645c5c;
$test3: #6c645c;
$test4: #7f7875;
$test5: #948c84;
$test6: #ccbdb7;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  font-family: $font-1;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: $tertiary;
  &:visited {
    color: $tertiary;
  }
  &:hover {
    color: $secondary-color;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.btn {
  background-color: $secondary-color;
  border-radius: $rounded;
  border: 1px solid $secondary-color;
  padding: 0.8rem 0.5rem;
  transition: 0.5s;
  color: $primary-color;
  &:hover {
    background-color: transparent;
    color: $secondary-color;
  }
}
.container {
  background-image: linear-gradient(326deg, $test2 0%, $test6 74%);
  display: flex;
  min-height: 100vh;
  position: relative;
  // text-align: center;
}
@media screen and (max-width: 580px) {
  .container {
    flex-direction: column;
  }
}
main {
  padding: 50px 20px;
  margin: auto;
}
// /* -------------- Medium ------------------ */
// @media screen and (max-width: 943px) {
//   main {
//     width: 70%;
//     padding: 2.5rem !important;
//   }
// }

// /* -------------- Small ------------------ */
// @media screen and (max-width: 580px) {
//   .main {
//     width: 95%;
//     padding: 2.5rem !important;
//   }
// }

%boxShadow {
  background: #ede9e2;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.637);
  border-radius: $rounded;
  transition: 0.5s;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 10px darken($tertiary, 0.1%);
  }
}
